name: Pipes

on:
  pull_request:
    branches:
      - master
    paths:
      - '**.go'
  push:
    branches:
      - master
    paths:
      - '**.go'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'
      - name: Install Taskfile
        run: sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d
      - name: Install deps
        run: go mod download
      - name: Build
        run: task release
      - name: Test
        run: task test

  lint:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'
      - name: Install Taskfile
        run: sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d
      - name: Install deps
        run: go mod download
      - name: Build
        run: task release
      - name: Test
        run: task test
      - name: Lint
        run: task lint
